<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="deviceName">Brand</label>
          <input id="deviceName" formControlName="brand" type="text">
          <div *ngIf="deviceForm.get('brand')?.invalid && deviceForm.get('brand')?.touched" class="error-message">
            Brand is required and must be at least 3 characters long.
          </div>
        </div>
    
        <div>
          <label for="manufacturer">Manufacturer</label>
          <input id="manufacturer" formControlName="manufacturer" type="text">
          <div *ngIf="deviceForm.get('manufacturer')?.invalid && deviceForm.get('manufacturer')?.touched" class="error-message">
            Manufacturer is required and must be at least 2 characters long.
          </div>
        </div>
    
        <div>
          <label for="model">Model</label>
          <input id="model" formControlName="model" type="text">
          <div *ngIf="deviceForm.get('model')?.invalid && deviceForm.get('model')?.touched" class="error-message">
            Model is required and must be at least 2 characters long.
          </div>
        </div>
    
        <div>
          <label for="operatingSystem">Operating System</label>
          <input id="operatingSystem" formControlName="operatingSystem" type="text">
          <div *ngIf="deviceForm.get('operatingSystem')?.invalid && deviceForm.get('operatingSystem')?.touched" class="error-message">
            Operating system is required and must be at least 2 characters long.
          </div>
        </div>
    
        <button type="submit" class="btn-primary" [disabled]="deviceForm.invalid">Add Device</button>
      </form>
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{ closeBtnName }}</button>
  </div>
  <div class="modal-footer">
    
  </div>