.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  div {
    margin-bottom: 25px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }

  .btn-primary {
    float: right;
    background-color: #0dcc1d;
  }

  .btn-default {
    float: left;
    background-color: #0e11dd;
    margin-top: 25px;
  }
  
  .error-message {
    color: red;
    font-size: 0.875em;  
    margin-top: 5px;
  }